<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="blog">
 	<!-- 블로그 생성 -->
 	<insert id="create" parameterType="java.util.HashMap">
 		insert into blog(email, title, intro, url, createdate) 
 					values(#{email}, #{title}, #{intro}, #{url}, sysdate)
 	</insert>
 	<insert id="create_cate" parameterType="java.util.HashMap">
 		insert into blogcategory(email, category_name, create_date, BLOG_TITLE, cate_id)
					values(#{email}, '전체 보기', sysdate, #{title}, #{cate_id})
 	</insert>
 	
 	
 	
	<!-- 카테고리 생성 --> 
	<insert id="category_add" parameterType="java.util.HashMap">
		insert into blogcategory(email, category_name, create_date, BLOG_TITLE, cate_id)
					values(#{email}, #{addcate_name}, sysdate, #{title}, #{addcate_id}) 
 	</insert>
 	<select id="cate_add_after" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select b.CATEGORY_NAME, b.CATE_ID from BLOGCATEGORY b where email=#{email}
 	</select> 	
 	
 	<insert id="cate_order" parameterType="java.util.HashMap">
 		insert into cateorder(cate_id, cate_index) values(#{addcate_id}, 0)
 	</insert>
 	
 	<!-- 카테고리 순서 수정 -->
 	<update id="cate_order_update" parameterType="java.util.HashMap">
 		update cateorder set cate_index = #{cate_index}
  						where cate_id = #{cate_id}
 	</update>
 	
 	<!-- 카테고리 삭제 -->
 	<delete id="cate_delete" parameterType="java.util.Iterator">
 		delete from BLOGCATEGORY where 
		<foreach collection="arr" item="cate_id" separator=" or " open="(" close=")">
		cate_id=#{cate_id}
		</foreach>
 	</delete>
 	
 	
 	
 	<!-- 해당 블로그의 카테고리 목록 -->
 	<select id="oneBlog_cList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select a.*, o.CATE_INDEX from (select * from BLOGCATEGORY where email=#{email}) a 
 				left join CATEORDER o on a.cate_id=o.cate_id order by o.CATE_INDEX asc
 	</select>
 	
 	
 	<!-- 블로그 뷰 -->
 	<select id="view" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select * from blog where url=#{url}
 	</select>
 	
 	<!-- 나의 블로그 리스트 (내블로그쪽에 들어갈것)  -->
 	<select id="mybloglist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 		select * from blog where email=#{email}
 	</select>
 
 </mapper>