<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="library">
	<!-- 구매한 게시물 리스트 -->
	<select id="buylist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
         select pl.*,pg.email as heart from (select tmp3.*, m.nickname, m.image from (select tmp2.* from (select rownum as r, tmp.* from (select * from 
         (select post.*,sc.email as sc from (select * from post where notice='false')post left join (select * from buy where email=#{email})sc on post.num=sc.pnum) where sc is not null        
		 order by num desc)tmp)tmp2 where tmp2.r between #{first} and #{last})tmp3 left join member m on m.email=tmp3.email)pl left join
         (select * from postgood where email=#{email})pg on pl.num=pg.pnum
	</select>
	
	<!-- 구매한 게시물 총 갯수 (페이징) -->
	<select id="selectbuycount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select count(*) as count from buy where email=#{email}
	</select>
	
	<!-- 좋아요누른 게시물 리스트(미완) -->
	<select id="likelist" parameterType="java.util.HashMap" resultType="java.util.HashMap">
         select pl.*,pg.email as heart from (select tmp3.*, m.nickname, m.image from (select tmp2.* from (select rownum as r, tmp.* from (select * from 
         (select post.*,sc.email as sc from (select * from post where notice='false')post left join (select * from postgood where email=#{email})sc on post.num=sc.pnum) where sc is not null        
		 order by num desc)tmp)tmp2 where tmp2.r between #{first} and #{last})tmp3 left join member m on m.email=tmp3.email)pl left join
         (select * from postgood where email=#{email})pg on pl.num=pg.pnum
	</select>
	
	<!-- 좋아한 게시물 총 갯수 (페이징) -->
	<select id="selectlikecount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select count(*) as count from postgood where email=#{email}
	</select>
	
</mapper>