<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="my">
	
	<!-- 나의정보 가져오기 -->
	<select id="info" resultType="java.util.HashMap">
		select * from member where email=#{email}
	</select>
	
	<!-- 프로필 업데이트 -->
	<update id="profileUp" parameterType="java.util.HashMap">
		update member set nickname=#{nickname}, image=#{image} , introduce=#{introduce} where email=#{email}
	</update>
	
	<!-- 비밀번호 업데이트 -->
	<update id="pwchange" parameterType="java.lang.String">
		update member set password=#{newpw} where email=#{email} and password=#{password}
	</update>
	
	<!-- 은행계좌 업데이트 -->
	<update id="bank" parameterType="java.util.HashMap">
		update member set bank=#{bank}, account=#{account}, holder=#{holder} where email=#{email}
	</update>
	
	
	<!-- 수익 계산 (판매포스트)-->
	<select id="postRevenue" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select NVL(sum(point), 0) as sum from
		(select b.*,p.email as myemail from 
		(select * from buy
		<if test="sysdate != null">
		 where bdate <![CDATA[ >= ]]> #{first} and bdate <![CDATA[ < ]]> #{last}
		</if>
		 ) b left join post p on b.pnum=p.num)
		  where myemail=#{email}
	</select>
	
	<!-- 수익 계산 (받은 후원)-->
	<select id="supportRevenue" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select NVL(sum(point), 0) as sum from
		(select * from support	 where
		<if test="sysdate != null">
			 sdate <![CDATA[ >= ]]> #{first} and sdate <![CDATA[ < ]]> #{last} and
		</if>		
		  supported=#{email} )
	</select>
	
	<!-- 후원 총 사용 계산 -->
	<select id="supportUse" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select NVL(sum(point), 0) as sum from
		(select * from support	 where
		<if test="sysdate != null">
			 sdate <![CDATA[ >= ]]> #{first} and sdate <![CDATA[ < ]]> #{last} and
		</if>		
		  support=#{email} )
	</select>
	
	<!-- 구매한 포인트 총 사용 계산 -->
	<select id="buyUse" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select NVL(sum(point), 0) as sum from
		(select * from buy	 where
		<if test="sysdate != null">
			 bdate <![CDATA[ >= ]]> #{first} and bdate <![CDATA[ < ]]> #{last} and
		</if>		
		  email=#{email} )
	</select>
	
	
	<!-- 신분증으로 성인인증 신청 -->
	<update id="adultupdate" parameterType="java.util.HashMap">
		update member set certified=#{img} where email=#{email}
	</update>
</mapper>




