<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="post">
  	<!-- 포스트 쓰기 -->
  	<insert id="write" parameterType="java.util.HashMap">
  		insert into post(num, category, nickname, title, subtitle, fcontent, ccontent, good, 
  					hash, report, pdate, url) 
 					values(post_seq.nextval, #{category}, #{nickname}, #{title}, #{subtitle},
 						#{fcontent}, #{ccontent}, 0, #{hash}, 0, sysdate, #{url})
  	</insert>
  
  </mapper>