<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="subscribe">

	<select id="list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from (select tmp2.*, m.image from (select rownum as r, tmp.* from
		(select blog.*,tmp.sdate, tmp.address from (select * from SUBSCRIBE where email=#{email})tmp left join blog on tmp.address=blog.url)tmp)tmp2 left join member m on m.email=tmp2.email)
		tmp3 where tmp3.r between #{first} and #{last} order by sdate desc
	</select>
	
	<!-- 게시물 총 갯수 (페이징) -->
	<select id="selectcount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select count(*) as count from subscribe where email=#{email}
	</select>
	
	<!-- 구독삭제 -->
	<delete id="deletesubscribe" parameterType="java.util.HashMap">
		delete from subscribe where email=#{email} and address=#{url}
	</delete>	
	
	<!-- 구독하기 -->
	<insert id="insertsubscribe" parameterType="java.util.HashMap">
		insert into subscribe(email,address,sdate) values(#{email},#{url},sysdate)
	</insert>
	
	<!-- 해당 블로그의 구독자 리스트 -->
	<select id="subscribers" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT b.email, b.title, b.INTRO, b.url FROM 
				(SELECT EMAIL FROM subscribe where ADDRESS=#{url}) s 
			join blog b on b.EMAIL=s.EMAIL
	</select>
	
	
	
</mapper>