<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="subscribe">

	<select id="list" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from (select tmp2.*, m.image from (select rownum as r, tmp.* from
		(select blog.*,tmp.sdate from (select * from SUBSCRIBE where email=#{email})tmp left join blog on tmp.address=blog.url)tmp)tmp2 left join member m on m.email=tmp2.email)
		tmp3 where tmp3.r between #{first} and #{last} order by sdate desc
	</select>
	
	<!-- 게시물 총 갯수 (페이징) -->
	<select id="selectcount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select count(*) as count from subscribe where email=#{email}
	</select>
	
	
</mapper>